<div class="edit-container" [class.active]="active">
  <div class="content flex-center {{ part.partType }}">
    <h1 *ngIf="createNew">Add new</h1>
    <h1 *ngIf="!createNew">{{ part.title }}</h1>
    <div class="form">
      <div class="form-item" *ngIf="createNew">
        <label>Type</label>
        <select [(ngModel)]="part.partType" (change)="typeChanged()">
          <option [value]="t" *ngFor="let t of partTypes">{{ capitalizeFirstLetter(t) }}</option>
        </select>
      </div>

      <div class="form-item row" *ngIf="!isType() && !isType('silence')">
        <label>Time based?</label>
        <input type="checkbox" [(ngModel)]="part.timeBased">
      </div>

      <div class="form-item" *ngIf="part.timeBased && !isType()">
        <label>Time (sec)</label>
        <input type="number" [(ngModel)]="part.time">
      </div>

      <div class="form-item" *ngIf="!part.timeBased && !isType() && !isType('silence')">
        <label>Count</label>
        <input type="number" [(ngModel)]="part.count">
      </div>

      <div class="form-item" *ngIf="isType('metronome')">
        <label>Length (sec)</label>
        <input type="number" [(ngModel)]="part.tickLength">
      </div>

      <div class="form-item" *ngIf="isType('metronome')">
        <label>Sample</label>
        <input type="text" [(ngModel)]="part.tickSample">
      </div>

      <div class="form-item" *ngIf="isType('mantra')">
        <label>Length (sec)</label>
        <input type="number" [(ngModel)]="part.mantraLength">
      </div>

      <div class="form-item" *ngIf="isType('mantra')">
        <label>Space (sec)</label>
        <input type="number" [(ngModel)]="part.mantraSpace">
      </div>

      <div class="form-item" *ngIf="isType('mantra')">
        <label>Group size</label>
        <input type="number" [(ngModel)]="part.mantraGroup">
      </div>

    </div>
    <div class="footer flex-center">
      <div class="button flex-center primary" (click)="save()"><img src="./assets/images/ok.png" alt=""></div>
      <div class="button flex-center" (click)="cancel()"><img src="./assets/images/cancel.png" alt=""></div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>