<div class="edit-container" [class.active]="active">
  <div class="content flex-center">
    <h1 *ngIf="createNew">Add new component</h1>
    <h1 *ngIf="!createNew">{{ getTitle() }}</h1>
    <div class="form">
      <div class="form-item" *ngIf="createNew">
        <label>Type</label>
        <select [(ngModel)]="part.partType" (change)="typeChanged()">
          <option [value]="t" *ngFor="let t of types">{{ capitalizeFirstLetter(t) }}</option>
        </select>
      </div>

      <div class="form-item" *ngIf="isType('separator')">
        <label>Sound</label>
        <select [(ngModel)]="part.fileTitle" (change)="separatorTypeChanged()">
          <option [value]="t.title" *ngFor="let t of separatorTypes">{{ t.title }}</option>
        </select>
      </div>

      <div class="form-item" *ngIf="isType('guided session')">
        <label>Type</label>
        <select [(ngModel)]="part.fileTitle" (change)="guidedSessionTypeChanged()">
          <option [value]="t.title" *ngFor="let t of guidedSessions">{{ t.title }}</option>
        </select>
      </div>

      <div class="form-item row" *ngIf="isType('mantra') && isType('metronome')">
        <label>Time based?</label>
        <input type="checkbox" [(ngModel)]="part.timeBased">
      </div>

      <div class="form-item" *ngIf="part.timeBased && !isType() && !isType('guided session') && !isType('polyphonic binaural beats')">
        <label>Period of time (sec)</label>
        <input type="number" [(ngModel)]="part.time">
      </div>

      <div class="form-item" *ngIf="!part.timeBased">
        <label>Count</label>
        <input type="number" [(ngModel)]="part.count">
      </div>

      <div class="form-item" *ngIf="isType('mantra')">
        <label>Mantra sound</label>
        <select [(ngModel)]="part.fileTitle" (change)="mantraTypeChanged()">
          <option [value]="t.title" *ngFor="let t of mantraTypes">{{ t.title }}</option>
        </select>
      </div>

      <div class="form-item" *ngIf="isType('metronome') || isType('mantra')">
        <label>Length (sec)</label>
        <input type="number" [(ngModel)]="part.sliceLength">
      </div>

      <div class="form-item" *ngIf="isType('heart beat')">
        <label>Heart beat rate (BPM, [30, 150])</label>
        <input type="number" [(ngModel)]="part.value1">
      </div>

      @if (isType('mantra')) {
        <div class="form-item">
          <label>Space (sec)</label>
          <input type="number" [(ngModel)]="part.sliceSpace">
        </div>

        <div class="form-item">
          <label>Group size</label>
          <input type="number" [(ngModel)]="part.value1">
        </div>
        @if (part.value1 > 1) {
          <div class="form-item">
            <label>Group space (sec)</label>
            <input type="number" [(ngModel)]="part.value2">
          </div>
        }
      }

      @if (isType('polyphonic binaural beats')) {
        <div class="form-item">
          <label>Specification</label>
          <textarea type="text" [(ngModel)]="part.valueStr"></textarea>
        </div>
        <div class="form-item">
          <p>Format: </p>
          <p class="code-block">T1[A1-A2-V1|B1-B2-V2|...],T2[C1-C2-V3|...],...</p>
          <p>Where:</p>
          <p class="code-block">T1, T2 ... duration in seconds</p>
          <p class="code-block">A1, B1 ... frequency for left ear in Hz</p>
          <p class="code-block">A2, B2 ... frequency for right ear in Hz</p>
          <p class="code-block">V1, V2 ... volume level: L (low), M (medium), H (high)</p>
          <p>Example:</p>
          <p class="code-block">5[450-458-L],10[450-458-L|300-305-M]</p>
        </div>
      }

      @if (isType('binaural beats') || isType('isochronic tones')) {
        <div class="form-item">
          <label>Base frequency (Hz, [50, 1000])</label>
          <div class="input-with-icon">
            <input type="number" [(ngModel)]="part.value1" *ngIf="!showBaseSelector">
            <select [(ngModel)]="part.value1" *ngIf="showBaseSelector">
              <option [value]="s.value" *ngFor="let s of solfeggioScale">{{ s.name }}</option>
            </select>
            <img src="./assets/images/load.png" alt="" (click)="showBaseSelector = !showBaseSelector">
          </div>
        </div>
      }

      @if (isType('binaural beats')) {
        <div class="form-item">
          <label>Start frequency (Hz, [1, 30])</label>
          <div class="input-with-icon">
            <input type="number" [(ngModel)]="part.value2" *ngIf="!showDiff1Selector">
            <select [(ngModel)]="part.value2" *ngIf="showDiff1Selector">
              <option [value]="s.value" *ngFor="let s of brainwaveFrequency">{{ s.name }}</option>
            </select>
            <img src="./assets/images/load.png" alt="" (click)="showDiff1Selector = !showDiff1Selector">
          </div>
        </div>
        <div class="form-item">
          <label>End frequency (Hz, [1, 30])</label>
          <div class="input-with-icon">
            <input type="number" [(ngModel)]="part.value3" *ngIf="!showDiff2Selector">
            <select [(ngModel)]="part.value3" *ngIf="showDiff2Selector">
              <option [value]="s.value" *ngFor="let s of brainwaveFrequency">{{ s.name }}</option>
            </select>
            <img src="./assets/images/load.png" alt="" (click)="showDiff2Selector = !showDiff2Selector">
          </div>
        </div>
        <div class="form-item">
          <label>Interpolation mode</label>
          <select [(ngModel)]="part.valueStr">
            <option [value]="mode" *ngFor="let mode of interpolations">{{ mode }}</option>
          </select>
        </div>
        <div class="form-item">
          <label>Advanced mode</label>
          <select [(ngModel)]="part.valueStr2">
            <option [value]="mode" *ngFor="let mode of advancedBBTypes">{{ mode }}</option>
          </select>
        </div>
      }

      @if (isType('isochronic tones')) {
        <div class="form-item">
          <label>Pulsation (Hz, [1, 10])</label>
          <input type="number" [(ngModel)]="part.value2">
        </div>
      }
    </div>
    <div class="footer flex-center">
      <div class="button flex-center primary" (click)="save()"><img src="./assets/images/ok.png" alt=""></div>
      <div class="button flex-center" (click)="cancel()"><img src="./assets/images/cancel.png" alt=""></div>
    </div>
  </div>
  <div class="backdrop"></div>
</div>