.edit-container {
  .content {
    width: 250px;
    height: 400px;
    right: -500px;
    padding: 35px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    position: fixed;
    top: 140px;
    transition: all 250ms ease-in-out;
    z-index: 101;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    
    h1 {
      font-size: 24px;
      color: #c14c39;
    }
    
    p {
      color: #6c6c6c;
    }
  }
  
  .backdrop {
    background: linear-gradient(45deg, #3c6181, #4ea79a);
    width: 0;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    z-index: 100;
  }
  
  &.active {
    .content {
      right: 5px;
    }
    .backdrop {
      opacity: 50%;
      width: 100vw;
    }
  }
}
