.edit-container {
  .content {
    width: 250px;
    height: fit-content;
    right: -500px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    position: fixed;
    top: 40px;
    transition: all 250ms ease-in-out;
    z-index: 101;
    display: grid;
    grid-auto-rows: 0fr 1fr 0fr;
    grid-template-columns: 1fr;

    h1 {
      font-size: 20px;
      color: #c14c39;
      margin: 0;
    }

    .form {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-flow: column;
      height: 100%;
    }

    p {
      color: #6c6c6c;
      margin-bottom: 2px;

      &.code-block {
        font-size: 11px;
        font-family: monospace;
        margin: 0;
        color: #000000;
      }
    }

    .form-item {
      display: flex;
      flex-flow: column;
      margin-top: 10px;

      &.row {
        flex-flow: row;

        input {
          width: auto;
        }
      }

      label {
        font-size: 11px;
        margin-right: 10px;
      }

      input, textarea {
        padding: 4px 8px;
        width: 180px;
      }

      textarea {
        height: 70px;
        width: 240px;
      }

      select {
        padding: 4px 8px;
        width: 196px;
      }
    }

    .footer {
      justify-content: flex-end;
      margin-top: 20px;
    }

    .button {
      width: 30px;
      height: 30px;
      background: #56b345;
      border-radius: 50%;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:last-child {
        margin-left: 10px;
        background: #c14c39;
      }

      img {
        width: 18px;
      }

      &.disabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: auto;
      }
    }
  }

  .backdrop {
    background: linear-gradient(45deg, #3c6181, #4ea79a);
    width: 0;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 250ms ease-in-out;
    z-index: 100;
  }

  &.active {
    .content {
      right: 5px;
    }

    .backdrop {
      opacity: 50%;
      width: 100vw;
    }
  }
}
