<div class="part-container flex-center" [class.selected]="selected"
     [class.paused]="isPaused()"
     [class.running]="isRunning()">
  <div class="column flex-center" (click)="select.emit()">
    <div class="state-icon">
      <ng-container *ngIf="isRunning()">&#9654;</ng-container>
      <ng-container *ngIf="selected && !isRunning()">&#x21bb;</ng-container>
    </div>
    <div class="icon flex-center">
      <img src="./assets/images/{{part.partType}}.png" alt="">
    </div>
  </div>
  <div class="column-right flex-center">
    <div class="details flex-center" (click)="select.emit()">
      <div class="title" *ngIf="selected">{{ part.title }}</div>
      <div class="title"
           *ngIf="!selected && (part.partType === 'mantra' || part.partType === 'separator' || part.partType === 'guided session')">
        {{ part.name }}
      </div>
      <div class="title" *ngIf="!selected && (part.partType === 'binaural beats')">
        {{ part.getInfo() }}
      </div>
      <div class="time" [class.selected]="selected">{{ getTime() | timeformat }}</div>
      <div class="info" *ngIf="selected">{{ part.getInfo() }}</div>
    </div>
    <div class="toolbar">
      <div class="button up" (click)="moveUp.emit()" *ngIf="index !== 0">
        <img src="./assets/images/arrow_order.png" alt="">
      </div>
      <div class="button" (click)="moveDown.emit()" *ngIf="index < (repository.session.parts.length-1)">
        <img src="./assets/images/arrow_order.png" alt="">
      </div>
    </div>
  </div>
</div>