.part-container {

  .column {
    width: 150px;
  }

  .icon {
    cursor: pointer;

    img {
      width: 58px;
      background: #d1c598;
      padding: 8px;
      border-radius: 50%;
    }
  }

  .state-icon {
    width: 15px;
    position: relative;
    margin-left: -15px;
    color: #c14c39;
  }

  &.active {
    .icon {
      img {
        background: #c14c39;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
      }
    }
  }

  &.resume {
    .icon {
      img {
        background: #e9ca55;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 30%);
      }
    }
    .state-icon {
      color: #ffffff;
      font-size: 18px;
      left: -5px;
    }
  }

  .column-right {
    width: 120px;
    padding-left: 15px;
    justify-content: space-between;

    .details {
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;

      .title {
        font-weight: bold;
        color: #c95858;
      }
    }

    .toolbar {
      .button {
        cursor: pointer;
        font-size: 14px;
        color: #eddb96;

        &.edit {
          transform: rotate(90deg);
          margin-bottom: 9px;
        }
      }

      .button:hover {
        color: #ffffff;
      }
    }
  }
}
