.part-container {

  .column {
    width: 150px;
  }

  .icon {
    cursor: pointer;

    img {
      width: 58px;
      background: #d1c598;
      padding: 8px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .state-icon {
    width: 15px;
    position: relative;
    margin-left: -15px;
    color: #c14c39;
  }

  &.active {
    background: #ffffff6b;
        
    .icon {
      img {
        background: #c14c39;
        box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.4);
      }
    }
  }

  &.resume {
    background: #ffffff6b;
      
    .icon {
      img {
        background: #e9ca55;
        box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.4);
      }
    }
    .state-icon {
      color: #ffffff;
      font-size: 18px;
      left: -5px;
    }
  }

  .column-right {
    width: 164px;
    padding-left: 15px;
    justify-content: space-between;

    .details {
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;

      .title {
        font-weight: bold;
        color: #c95858;
      }
    }

    .toolbar {
      margin-right: 10px;
    
      .button {
        cursor: pointer;
        opacity: 0.3;


        &.up {
          transform: rotate(180deg);
          margin-bottom: 9px;
        }
      }

      .button:hover {
        opacity: 1;
      }
    }
  }
}
