.part-container {
  transition: all 150ms ease-in-out;
  border-radius: 45px;

  .column {
    width: 150px;
    cursor: pointer;
  }

  .icon {
    cursor: pointer;

    img {
      width: 58px;
      background: rgb(255 255 255 / 20%);
      padding: 4px;
      margin: 4px;
      border-radius: 50%;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    }
  }

  .state-icon {
    width: 15px;
    position: relative;
    margin-left: -15px;
    color: #c14c39;
  }

  .time {
    width: 60px;
    font-size: 14px;
    color: #ffffff;
  }

  &.selected {
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);

    .column-right .details .title {
      color: #383838;
    }

    .state-icon {
      color: #ffffff;
      font-size: 18px;
      left: -5px;
    }

    .time {
      font-size: 16px;
      opacity: 1;
      font-weight: bold;
    }

    .icon {
      img {
        background: rgb(134 174 187 / 90%);
        box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.4);
        padding: 8px;
        margin: 0;
      }
    }

    &.running {
      background: #ffffff6b;

      .column-right .details .title {
        color: #c95858;
      }

      .column-right .details .info {
        color: #c95858;
        font-weight: bold;
      }

      .state-icon {
        color: #c14c39;
        font-size: 14px;
        left: 0;
      }

      .icon {
        img {
          background: #c14c39;
        }
      }
    }

    &.paused {
      .icon {
        img {
          background: #e9ca55;
        }
      }
    }
  }

  .column-right {
    width: 140px;
    padding-left: 15px;
    justify-content: space-between;

    .details {
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column;
      cursor: pointer;
      width: 120px;

      .title {
        font-weight: bold;
        color: #ffffff;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
        white-space: nowrap;
      }

      .info {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90%;
        white-space: nowrap;
        font-size: 12px;
      }
    }

    .toolbar {
      margin-right: 10px;

      .button {
        cursor: pointer;
        opacity: 0.3;


        &.up {
          transform: rotate(180deg);
          margin-bottom: 9px;
        }
      }

      .button:hover {
        opacity: 1;
      }
    }
  }
}
