.session-diagram {
  margin: 0 35px;
  padding-top: 20px;
  background: linear-gradient(45deg, rgba(165, 157, 104, 0.74), rgb(145 183 189 / 96%));
  color: #ffffff;
  height: calc(100% - 20px);
  align-items: flex-start;
  box-shadow: 0 0 20px rgb(0 0 0 / 48%);

  .column1, .column2 {
    &.flex-center {
      flex-flow: column nowrap;
    }
  }

  .column2 {
    border-left: 2px dotted #ffffff;
    margin: 0 14px;
    padding: 0 14px;
    justify-content: flex-start;
    align-items: flex-start;

    .time {
      height: 76px;
      padding-top: 16px;
      align-items: flex-start;
    }
  }

  .arrow {
    height: 40px;
    border-left: 3px solid #ffffff;
    margin: 2px 0;
  }
}
