.session-diagram {
  margin: 0 35px 0 35px;
  padding: 10px 0;
  background: linear-gradient(45deg, rgba(165, 157, 104, 0.74), rgba(145, 183, 189, 0.96));
  color: #ffffff;
  align-items: flex-start;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.48);
  height: calc(100vh - 66px);
  overflow: auto;

  .column {
    &.flex-center {
      flex-flow: column nowrap;
    }
  }

  .arrow {
    margin: 2px 62px 2px 0;
    width: 76px;
    flex-flow: column;
    align-items: flex-start;
    border-right: 2px dotted #ffffff;
    
    .arrow_body {
      height: 24px;
      border-left: 2px solid #ffffff;
    }

    .arrow_head {
      transform: rotate(-90deg);
      font-size: 19px;
      margin: -9px -3px;
    }
  }
}
