<audio #separatorAudioElement></audio>
<audio #guidedSessionAudioElement></audio>
<audio #metronomeAudioElement src="./assets/sounds/metronome.mp3"></audio>
<audio #heartAudioElement src="./assets/sounds/heart-beat.mp3"></audio>
<audio #mantraAudioElement></audio>

<div class="main" (window:keydown)="onKeyDown($event)">

  <div class="button flex-center start" (click)="play()" *ngIf="!sessionService.isRunning()">
    <img src="./assets/images/play.png" alt="">
  </div>

  <div class="footer flex-center" [class.hidden]="editActive">

    <h1 *ngIf="sessionService.isStopped()">Meditation Designer</h1>

    <div class="flex-center">
      <div class="button flex-center" (click)="sessionService.pause()" *ngIf="sessionService.isRunning()">
        <img src="./assets/images/pause.png" alt="">
      </div>
      <div class="button flex-center stop" (click)="sessionService.stop()" *ngIf="!sessionService.isStopped()">
        <img src="./assets/images/stop.png" alt="">
      </div>
    </div>
    <div class="timer"
         *ngIf="!sessionService.isStopped() && sessionService.getTime() !== -1">
      {{ sessionService.getTime() | timeformat }}
    </div>
    <div class="timer" *ngIf="sessionService.isStopped()">{{ repository.getTotalTime() | timeformat }}</div>
  </div>

  <div class="sessions-container" [class.hidden]="editActive">
    <app-session #sessionRef></app-session>
  </div>

  <div class="edit-container">
    <app-edit [active]="editActive" (close)="updatePart()" [createNew]="createNew"></app-edit>
  </div>

  <div class="tools" [class.hidden]="editActive">
    <div class="action remove" (click)="repository.remove()" [class.disabled]="!repository.isSelected()">
      <img src="./assets/images/remove.png" alt="">
    </div>

    <div class="action edit" (click)="editPart()" [class.disabled]="!repository.isSelected()">
      <img src="./assets/images/edit.png" alt="">
    </div>

    <div class="action add" (click)="newPart()">
      <img src="./assets/images/add.png" alt="">
    </div>

    <div class="action save" (click)="repository.saveWorkplace()">
      <img src="./assets/images/save.png" alt="">
    </div>

    @for (i of [0, 1, 2, 3]; track $index) {
      <div class="action workplace workplace{{ i + 1 }}" [class.selected]="repository.isSelectedWorkspace(i)"
           (click)="repository.selectWorkspace(i)">{{ i + 1 }}
      </div>
    }


  </div>
</div>

<div class="background">
</div>
