.main {
  height: 100vh;
  background: rgb(255 255 255 / 20%);

  .sessions-container {
    position: absolute;
    left: 0;
    transition: all 250ms ease-in-out;
    
    &.hidden {
      left: -200px;
      filter: blur(3px);
    }
  }
  
  .tools {
    transition: all 250ms ease-in-out;

    &.hidden {
      filter: blur(3px);
    }
  }

  .footer {
    height: 50px;
    background: linear-gradient(45deg, #72b8bbf0, #a6b998e0);
    border-top: 3px solid #fff;
    position: fixed;
    justify-content: space-between;
    padding: 0 20px;
    width: calc(100% - 40px);
    bottom: 0;
    transition: all 250ms ease-in-out;
    
    .button {
      width: 30px;
      height: 30px;
      background: #c14c39;
      border-radius: 50%;
      color: #ffffff;
      font-size: 18px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &.plus {
        font-size: 26px;
      }
      
      img {
        width: 10px;
      }
      
      &.disabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: auto;
      }
    }

    .timer {
      color: #ffffff;
      font-weight: bold;
      font-size: 27px;
      text-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
    }
    
    &.hidden {
      filter: blur(3px);
    }
  }
  
  .action {
    position: absolute;
    width: 25px;
    height: 35px;
    top: 62px;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    
    &.disabled {
      cursor: auto;
      opacity: 0.5;
    }
    
    &.edit {
      top: 20px;
    }
    
    img {
      width: 19px;
      margin-left: 1px;
    }
  }
}

.background {
  background: #2e5b6c;
  filter: saturate(0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

