<audio #separatorAudioElement src="./assets/sounds/china-bell-ring.mp3"></audio>
<audio #metronomeAudioElement src="./assets/sounds/metronome.mp3"></audio>
<audio #mantraAudioElement src="./assets/sounds/china-bell-ring.mp3"></audio>

<div class="main">
  <div class="sessions-container" [class.hidden]="editActive">
    <app-session #sessionRef></app-session>
  </div>
  <div class="edit-container">
    <app-edit [active]="editActive" (close)="updatePart()" [createNew]="createNew"></app-edit>
  </div>
  <div class="footer flex-center" [class.hidden]="editActive">
    <div class="button flex-center plus" (click)="newPart()">+</div>
    <div class="timer"
         *ngIf="!sessionService.isStopped() && sessionService.getTime() !== -1">
      {{ sessionService.getTime() | timeformat }}
    </div>
    <div class="flex-center">
      <div class="button flex-center" (click)="sessionService.play()" *ngIf="!sessionService.isRunning()"
           [class.disabled]="!repository.isSelected()">
        <img src="./assets/images/play.png" alt="">
      </div>
      <div class="button flex-center" (click)="sessionService.pause()" *ngIf="sessionService.isRunning()">
        <img src="./assets/images/pause.png" alt="">
      </div>
      <div class="button flex-center stop" (click)="sessionService.stop()" *ngIf="!sessionService.isStopped()">
        <img src="./assets/images/stop.png" alt="">
      </div>
    </div>
  </div>

  <div class="tools" [class.hidden]="editActive">
    <div class="action remove" (click)="repository.remove()" [class.disabled]="!repository.isSelected()">
      <img src="./assets/images/remove.png" alt="">
    </div>

    <div class="action edit" (click)="editPart()" [class.disabled]="!repository.isSelected()">
      <img src="./assets/images/edit.png" alt="">
    </div>
  </div>
</div>

<div class="background">
</div>
