html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
  letter-spacing: normal;
  width: 380px;
  background: repeat url("assets/bg.png");
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
