html, body {
  height: 100%;
}

body {
  margin: 0;
  font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
  letter-spacing: normal;
  overflow: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  background: repeat url("./assets/bg.png");
}